
div.blue { width:100px; 
    height:200px; 
    background-color:blue;
    position:relative;


}

div.yellow { 
    width:100px; 
    height:150px; 
    background-color:yellow; 
    position:relative;
    right:-100px;
    top: -200px;

}

div.red { 
    width:100px; 
    height:150px; 
    background-color:red; 
    position:relative;
    right:-200px;
    top: -350px;

}

div.green { 
    width:200px; 
    height:50px; 
    background-color:green; 
    position:relative;
    right: -100px;
    top: -350px;


}
